.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.75);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-Abrir {
    display: flex;
}

.contenedor-Modal {
    position: relative;
    padding: 1rem;
    border-radius: 10px;
    min-width: 320px;
    max-width: 480px;
    min-height: 200px;
    max-height: 600px;
    overflow-y: auto;
    background-color: #fff;
}

.modal-Cerrar {
    position: absolute;
    top: 1rem;
    right: 1rem;
}