@import 'normalize.css';

/*
**************************
****CABECERA PRINCIPAL****
**************************
*/

body {
    min-width: 300px;
}

/* nav principal */

#cabeceraPrincipalSinLogo {
    border: 2px solid #d20076;
    background-color: #903495;
    display: flex;
    flex-direction: column;
}

#cabeceraPrincipalSinLogo > nav > ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#cabeceraPrincipalSinLogo button {
    background-color: #903495;
    border: none;
}
#cabeceraPrincipalSinLogo button:hover {
    transition-duration: 2s;
    font-size: x-large;
    font-weight: bolder;
}

#cabeceraPrincipalSinLogo li {
    list-style: none;
}

#cabeceraPrincipalSinLogo a {
    text-decoration: none;
    color: #00fff6;
}

/* barra de busqueda */

#cabeceraPrincipalSinLogo > section {
    border: none;
    display: grid;
    grid-template-columns: 12fr 0.5fr;
    justify-content: center;
    text-align: center;
    justify-items: center;
}

#cabeceraPrincipalSinLogo img {
    width: 1rem;
}

#cabeceraPrincipalSinLogo > section > form {
    text-align: left;
}

#barraBusqueda::placeholder {
    background-color: #6096e5;
    width: 20em;
    height: 1rem;
}

/*
*********************
****MAIN PRINCIPAL***
*********************
*/

#mainPaginaPrincipal {
    background-color: #2d2c55;
}

#mainPaginaPrincipal a {
    text-decoration: none;
}

#footerPaginaPrincipal {
    background-color: blue;
}

/*
********************************
********BOTONES COMPRA VENTA****
********************************

*/
#botonesCompraVenta {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
********************************
********PRODUCTOS ALEATORIOS****
********************************
*/

#productosAleatorios {
    margin: auto;
    width: 2rem;
    border: none;
    display: flex;
    opacity: 0.9;
    gap: 1rem;
    padding: 5%;
    display: inline-flex;
}

#productosAleatorios article {
    border: 2px solid violet;
    background-color: #e0a2eb;
    padding: 0.5rem;
}

#productosAleatorios img {
    min-width: 7rem;
    max-width: 12rem;
    object-fit: cover;
}

#productosAleatorios h3 {
    text-align: center;
}

/*****************************
****NAVEGACION CATEGORIAS*****
*****************************/

#navegacionCategorias ul {
    background-color: red;
    display: flex;
    flex-direction: row;
    padding: 0;
    overflow-y: scroll;
}

#navegacionCategorias li {
    text-decoration: none;
    list-style: none;
    background-color: #d20076;
}

/*
#####################
###footer Pg. Ppal###
#####################
*/

#footerPaginaPrincipal {
    background-color: #be7edc;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    transition: 0.3s all;
    padding-top: 15px;
}

#footerPaginaPrincipal ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#footerPaginaPrincipal li {
    list-style: none;
    text-decoration: none;
    background-color: #be7edc;
}
