nav#navegacionCategorias {
    background: lightsteelblue;
    padding: 1rem;
}

nav#navegacionCategorias ul {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
    max-width: 900px;
    list-style: none;
    flex-wrap: wrap;
}

.li-icono {
    background-color: rgb(217, 230, 107);
    padding: 0.5rem;
    max-width: 150px;
}

.li-icono:hover {
    background: rgb(6, 194, 159);
}

.icono {
    margin: 0 0 1rem 0;
    width: 50%;
}

.li-icono a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.li-icono:hover a {
    color: black;
}
