#marcoNavegacionCategorias {
    border: 3px solid rgb(10, 81, 235);
    background: #6664ff;
    display: flex;
    justify-content: space-around;
}

#marcoNavegacionCategorias nav {
    width: 100%;
    margin-left: 8%;
    margin-right: 8%;
}

#marcoNavegacionCategorias ul {
    display: flex;
    justify-content: space-around;
    gap: 4%;
    background-color: #6664ff;
}

.li-icono {
    border: 2px solid #1eff05;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;

    background: #1eff05;
}

.marco-icono {
    /* border: 1px solid black; */
    width: 50%;
    margin-top: 3%;
    margin-bottom: 1%;
}

.icono {
    margin: auto;
    width: 100%;
}

.boton-categoria {
    margin-bottom: 3%;
    border-radius: 5px;
}
