/*
********************************
********PRODUCTOS ALEATORIOS****
********************************
*/

/* .productosAleatorios img {
    object-fit: cover;
} */

/* .productosAleatorios h3 {
    text-align: center;
} */

/* Las fotos... */
.divImagenArticulo {
    margin: auto;
}

.articuloImagen {
    width: 100%;
    height: 200px;

    object-fit: cover;
}

#precio {
    text-align: center;
}
#nombreProducto {
    font-size: 150%;
    text-align: center;
}

.productosAleatorios-TarjArticle {
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
