body{
    background-color: darkgray;
    max-width: 99vw;
}

#containerAvatar {
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;

    width: 90%;
    border: 3px solid #eee;
    background-color: whitesmoke;
    box-shadow: 3px, 3px, gray;
    border-radius: 5px;
}

#marcoFotoAvatar {
    /* border: 2px solid green; */
    width: 30%;
    /* object-fit: contain; */
    /* float: right; */
    margin-top: 2%;
    margin-bottom: 1%;
    margin-right: 1%;
    margin-left: 2%;
}

#fotoAvatar {
    object-fit: contain;
    width: 100%;
}
#tituloPerfilUsuario {
    width: 50%;
    margin-left: 5%;
}

#containerPerfilUsuario {
    border: 3px solid black;
    margin-top: 4%;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    background-color: rgb(244, 241, 240);
}



#sectionUsuario {
    background-color: #eee;
    width: 100px;
    border-radius: 5px;
}

#containerPerfilUsuario>button{
    display: inline-block;
}

#containerPerfilUsuario>button>a {
    text-decoration: none;
}

button {
    border-radius: 6px;
    margin: 2%;
    padding: 2%;
    box-shadow: 2px 2px 1px lightgray;
    border: hidden;
    background-color: whitesmoke;
}

#containerPerfilUsuario>h2 {
    text-align: center;
}

#containerPerfilUsuario section {
    border: 2px solid grey;
    /* margin: 3%; */
    width: 98%;
    margin: auto;
}

#formularioEditarUsuario {
    /* border: 1px solid grey; */
    padding: 2%;
    background-color: rgb(243, 247, 247);
}

#formularioEditarUsuario div {
    margin: 1%;
    margin-top: 3%;
    margin-bottom: 3%;
}

#formularioEditarUsuario>div>input {
    width: 85%;
    display: inline-block;
}

#formularioEditarUsuario>div>input::placeholder {
    color: lightgray;
}

#formularioEditarUsuario>button>a {
    text-decoration: none;
}



/*/////////////////////////////////////////////
//////// Retros Comprados y Vendidos //////////
/////////////////////////////////////////////*/

#sectionHistorial {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    /* border: 10px solid black; */
    width: 50%;
    margin: auto;
    margin-bottom: 1%;
    border-radius: 5px;
}

#containerRetrosComprados, #containerRetrosVendidos {
    /* border: 5px solid black; */
    /* background-color: red; */
    width: 98%;
    margin: auto;
}

#ulDeArticuloConImagen{
    width: 100%;
    padding: 0;
}

.liDeArticuloConImagen {
    list-style: none;
    width: 100%;
    margin: auto;
    margin-bottom: 5%;
}

.articuloImagen {
    width: 100%;
}

hr{
    margin-top: 6%;
    margin-bottom: 6%;
}