@import 'normalize.css';

#contenedorFormulario {
    border: 1px solid black;
    margin: auto;
    margin-top: 15%;
    background-color: grey;
    padding: 5%;
    min-width: 50rem;
    min-height: 25rem;
    max-width: 30rem;
    max-height: 30rem;
    justify-content: center;
    align-items: center;
}

#formularioRegistro {
    border: 1px solid black;
    background-color: whitesmoke;
    padding: 10%;
    min-width: 40rem;
    max-width: 20rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}
