@import 'normalize.css';

.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    /* background-color: rgba(221, 72, 13, 0.75); */
    display: none;
    justify-content: center;
    align-items: center;

}

.modal-Abrir {
    display: flex;
}

.contenedor-Modal {
    position: relative;
    padding: 1rem;
    border-radius: 10px;
    
    /* background-color: blue;box-shadow: 4px, 4px, rgb(39, 128, 128); */
}

.modal-Cerrar {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 5%;
}

.contenedor-Modal h1{
    text-align: center;
}

 input, select, #email, #password, #description {
     width: 100%;
    background-color: #eee;
    border-radius: 5px;
    border-color: #eee;
    border-style: ridge;
    padding-left: 2%;

    

}


/* #password {
    background-color: yellow;
} */

li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin-bottom: 3%;
}


#terminos  {
    width: 10%;
    margin-right: 10%;
}

#botones-registro {
    
    /* background-color: chartreuse; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}