.footer {
    border: 2px solid black;
    background-color: #00fff6;
    width: 90%;
    margin: auto;
    display: flex;
    /* gap: 3%; */
    justify-content: space-around;
    font-size: 70%;
}

/* .redes-sociales {
    
} */
